.FourSteps {
    position: absolute;
    top: 120vh;
    width: 100%;
    text-align: center;
    font-size: small;
}

.h1FourSteps {
    padding-top: 10vh;
}

.forStepsBorder {
    border-bottom: 1px solid grey;
}

.greyBar {
    padding-top: 10vw;
    padding-bottom: 10vw;
    padding-left: 5vw;
    padding-right: 5vw;
    width: 100vw;
    background-color: lightgrey;
}

.btnFourSteps {
    padding: 2vw;
    width: 20vw;
    height: 5vw;
    text-align: center;
    background-color: white;

}