.Fundation {
  position: relative;
  top: 350vh;
  text-align: center;

}

.btnFundation {
  border: 2px solid grey;
  width: 10vw;
  height: 5vw;
  text-align: center;
  background-color: white;

}



#page-numbers {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 1vw;
}

#page-numbers>li {
  margin-right: 0.3em;
  color: grey;
  user-select: none;
  cursor: pointer;

}

#renderOrg>li {
  text-align: left;
  border-bottom: 2px solid grey;
  padding: 1vw;
  margin-top: 1vw;
  min-height: 20vh;

}

#renderOrg h2 {
  margin-left: 10vw;
  color: grey;
}

#renderOrg h5 {
  margin-left: 10vw;
  color: grey;
}

.active {
  border: 1px solid lightgray;
  color: red;
}