* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    font-family: 'Merriweather', serif;
}
div.app {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 200%;
}