.yellowBar {
    position: absolute;
    top: 85vh;
    width: 100%;
    height: 35vh;
    background-color: #FAD648;
    display: flex;
    flex-direction: column-reverse;
}
.yellowText {
    text-align: center;
    padding: 5vh;
}